<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sahir Blogs</title>

    {% load static %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    
    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endif %}
    <!-- <script src="https://cdn.tailwindcss.com"></script>      -->

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    boxShadow: {
                        'custom': '6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.8)',
                    }
                }
            }
        }
    </script>
</head>
<body>

    {% include "home/navbar/topbar.html" %}
    {% include 'home/navbar/navbar.html' %}
    {% include "home/navbar/searchbar.html" %}

    <main>
        {% block content %}
        {% endblock  %}
    </main>

    <div class="pt-10">
        {% include "home/footer/footer.html" %}
    </div>

</body>
</html>
