<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include "home/navbar/topbar.html" %}
    {% include 'home/navbar/navbar.html' %}
    {% include "home/navbar/searchbar.html" %}

</body>
</html>
