{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <div class="max-w-[90%] mx-auto">
        <h1 class="text-4xl font-bold my-10">{{course.title}}</h1>
        <div class="h-[400px] w-[400px] shadow-custom">
            {% if course.image %}
                <img class="h-full w-full object-cover" src="{{ course.image.url }}" alt="{{ course.title }}">
            {% else %}
                <img class="h-full w-full object-cover" src="{% static 'default-image.jpg' %}" alt="{{ course.title }}">
            {% endif %}
        </div>
        <div>
            <p class="py-10 text-justify">{{course.introduction}}</p>
        </div>
    </div>
{% endblock %}